* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

@media screen and (max-width: 768px) {
  #minha-foto{
    max-height: 15vh !important;
    max-width: 15vh !important;
    top: 20%;
    left: 12%;
  }

  h1 {
    flex-direction: column;
    font-size: 150%;
    left: 3% !important;
  }

  #secound-part {
    display: flex;
  }
}

.container {
  min-width: 100%;
  width: 100%;
  padding: 0;
}

.container-fluid {
  display: flex;
  background-color: rgb(191, 102, 102);
  position: fixed;
  top: 0;
  opacity: 0.8;
  z-index: 20;
}

.container-fluid:hover {
  opacity: 1;
}

.nav-link {
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
}

#fundo1 {
  display: flex;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#fundo2 {
  display: flex;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 1;
}

#fundo3 {
  display: flex;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white!important;
  font-family: monospace;
  font-size: 130%;
}

#first-part {
  display: flex;
  min-height: 97.5vh;
}

#minha-foto {
  display: flex;
  position: absolute;
  min-height: 35vh;
  min-width: 35vh;
  width: 10%;
  height: 10%;
  border: solid 5px rgb(191, 102, 102);
  border-radius: 50%;
  top: 40%;
  left: 13%;
  z-index: 2;
}

h1 {
  display: flex;
  position: absolute;
  text-align: center;
  max-height: 20%;
  top: 20%;
  left: 10%;
  z-index: 4;
}

div h2 {
  display: flex;
  height: 50px;
  padding: 0%;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 5;
}

#secound-part {
  display: flex;
  min-height: 100vh !important;
}

#dados {
  display: flex;
  position: absolute;
  padding: 5px 2%;
  text-align: center;
  max-width: 40%;
  z-index: 4;
}

#div-div-dados {
  max-width: 45%;
}

#about {
  display: flex;
  max-width: 40%;
  height: 90%;
  top: 5px;
  align-items: center;
  z-index: 10;
}

#sobre {
  display: flex;
  flex-direction: column;
  padding: 1%;
  text-align: justify;
  background-color: rgb(246, 243, 243);
  border: solid white;
  border-radius: 2%;
  line-height: 200%;
  height: 75%;
  align-items: center;
  z-index: 4;
}

h3 {
  display: flex;
  font-size: 130%;
  text-align: center;
  color: white;
}

#licoes-aprendidas{
  display: flex;
  font-size: 130%;
  line-height: 150%;
  border: solid white;
  border-radius: 2%;
  padding: 2%;
  background-color: rgb(246, 243, 243);
  max-height: 88%;
}

#licoes-aprender{
  display: flex;
  font-size: 130%;
  line-height: 200%;
  border: solid white;
  border-radius: 2%;
  padding: 2%;
  background-color: rgb(246, 243, 243);
  max-height: 88%;
}

ul {
  display: flex;
  margin: 0;
  flex-direction: column;
  list-style: none;
  width: 100%;
  z-index: 10;
}

#third-part {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(245, 245, 245);
}

footer {
  display: flex;
  background-color: rgb(191, 102, 102);
  width: 100%;
  min-width: 100%;
  color: white;
  /* text-align: center; */
  align-items: center;
  opacity: 0.8;
  border-radius: 1%;
  z-index: 8;
  height: 40px;
}

footer:hover {
  opacity: 1;
}

h6 {
  text-align: center;
  margin: 0;
}

#div-ft {
  display: flex;
  width: 100%;
  /* justify-content: center;
  text-align: center; */
} 

#div-div-ul {
  width: 100%;
}

#div-ul {
  width: 100%;
}

div #text-footer {
  width: 100%;
}
