.about-body {
  background-image: url('../images/fundo-contato.png');
  
  /* Referência de imagem:
  '<a href="https://pt.vecteezy.com/vetor-gratis/papel-de-parede">
  Papel De Parede Vetores por Vecteezy</a>'
  */
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.title-about {
  align-items: center;
  color: aliceblue;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 8vh;
  width: 77vw;
}

.body-text {
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 77vw;
  padding: 8vw;
  background-color: black;
  opacity: 0.7;
  font-size: 1.5vw;
  text-align: justify;
  line-height: 7vh;
  border-radius: 40px;
}
