.about-body {
  background-image: url('../images/fundo-contato.png');
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.title-about {
  align-items: center;
  color: aliceblue;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 8vh;
  width: 77vw;
}
