.contact-body {
  background-image: url('../images/fundo-contato.png');
  
  /* Referência de imagem:
  '<a href="https://pt.vecteezy.com/vetor-gratis/papel-de-parede">
  Papel De Parede Vetores por Vecteezy</a>'
  */
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.title-contact {
  align-items: center;
  color: aliceblue;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 8vh;
  width: 77vw;
}

.info-contact {
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  width: 77vw;
}

a {
  display: flex;
  align-items: center;
  width: 50vw;
  margin-bottom: 3vh;
}

.name-contact {
  display: flex;
  margin: 0;
  width: 40vw;
  color: aliceblue;
  justify-content: center;
}

.div-email {
  display: flex;
  align-items: center;
  width: 50vw;
  margin: 0;
  margin-bottom: 3vh;
}

.name-email {
  display: flex;
  margin: 0;
  width: 40vw;
  color: aliceblue;
  justify-content: center;
  word-break: break-all;
}
