.navbar {
  background-color: rgb(212, 65, 65);
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.menu-bars {
  margin: auto;
  margin-left: 4vw;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: 
  rgba(212, 65, 65, 0.8);
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  left: -100%;
  position: fixed;
  top: 0;
  /* padding: 2vw; */
  transition: 850ms
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.navtext {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.navtext a {
  text-decoration: none !important;
  color: aliceblue;
  display: flex;
  font-size: 18px;
  width: 65%;
  height: 100%;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(212, 65, 65);
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  background-color: rgb(212, 65, 65);
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
}

span {
  margin-left: 16px;
}
