.skills-body {
  background-image: url('../images/fundo-contato.png');

  /* Referência de imagem:
  '<a href="https://pt.vecteezy.com/vetor-gratis/papel-de-parede">
  Papel De Parede Vetores por Vecteezy</a>'
  */
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.title-skills {
  align-items: center;
  color: aliceblue;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 8vh;
  width: 77vw;
}

.body-skills {
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width: 77vw;
  border-radius: 40px;
  padding: 3vw;
  height: 68vh;
  max-height: 70vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-margin: 15vh;
  justify-content: space-around;
}

.hability {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 5vh;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  margin: 5px 2px;
  padding: 0;
  width: 130px;
  height: 100px;
  justify-content: center;
}
