.skills-body {
  background-image: url('../images/fundo-contato.png');

  /* Referência de imagem:
  '<a href="https://pt.vecteezy.com/vetor-gratis/papel-de-parede">
  Papel De Parede Vetores por Vecteezy</a>'
  */
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.title-skills {
  align-items: center;
  color: aliceblue;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 8vh;
  width: 77vw;
}
